.back-top{
    background-color:  #009688;
    height: 25vh;
}
   
.back-main{
    background-color:  #D9DBD5;
    height: 75vh;
}
.back-container{
    position: relative;
}
.front-container{
    position: absolute;
    top:0;
    left:0;
    right: 0;
}

.front-container1{
    position: absolute;
    top:20px;
    left:0;
    right: 0;
}
.ddsd{
    position: absolute;
    top:20px;
}
.chat-top{
    background-color: #f1eded;
    min-height: 250px;
}
.login-top{
    background-color: #f1eded;
    min-height:25px;
}
.contact-table-scroll{
    overflow-y: scroll;
    height: 500px;
}
.contacts{
background-color: #ffffff;
min-height: 475px;
}

.my-custom-scrollbar {
    position: relative;
    height: 475px;
    /* overflow: auto; */
    max-width: 100%;
    overflow-x: hidden;
}
.table-wrapper-scroll-y {
    display: block;
}

.profileimage{
    width: 50px;
    border-radius: 50%;
    margin:5px;

}

.bi{
    margin-left:140px;
    width: 24px ;
    height: 24px ;
}

.placeee {
	position: relative;
	margin-inline-end: auto;
}

.form-s {
    background-color: rgb(240, 230, 230);
    width: 390px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}   

.span-s {
    min-height: 5px;
}

.input-s {
all: unset;
font: 16px system-ui;
color: #fff;
height: 100%;
width: 100%;
padding: 6px 10px;
}

.button-s {
all: unset;
cursor: pointer;
width: 44px;
height: 44px;
}

.svg-s {
color: #fff;
fill: currentColor;
width: 40px;
height: 40px;
padding: 10px;
}

.icon_place {
    margin-left: 240px;
}

.btn_place {
    margin-left: 370px;
}

.chat-list-item {
	background: white;
	cursor: pointer;
}

.chat-list-item:hover {
	background: hsl(0, 2%, 92%);
}

.chat-de {
    flex: 1!important;
    background: hsl(0, 0%, 80%);
    overflow: auto;
}

.chatt {
max-width: fit-content;
max-height: max-content;
 }

 .bi-search{
     width: 20px;
     height: 20px;
     position: absolute;
     top: 20px;
     right: 40px;
}

 .bi-three-dots-vertical{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 15px;
 }
